@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    font-size: 15px;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);

    display: flex;
    justify-content: center;
    align-items: center;
}

section#card {
    background-color: hsl(244, 38%, 16%);
    text-align: center;
    max-width: 300px;
}

section#pink-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#pink-img {
    position: relative;
}

section#image {
    background: black url(images/image-header-mobile.jpg) no-repeat;
    background-size: contain;
    height: 220px;
}

section#pink {
    background-color: hsla(277, 64%, 61%, 0.374);
    height: 220px;
    width: 300px;

    position: absolute;
    top: 0px;
}

section#body {
    font-family: 'Lexend Deca', sans-serif;;
    margin: 20px 20px;
}

section#text > h1 {
    color: white;
    line-height: 1em;
    font-size: 25px;
    margin: 30px 10px 15px 10px;
}

section#text > h1 > strong {
    color: hsl(277, 64%, 61%);
}

section#text > p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.4em;
}

section#stats {
    font-family: 'Inter', sans-serif;;
    margin: 20px 0px;
}

section#stats > p.number {
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

section#stats > p.stats-text {
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 700;
    font-size: 12px;
}
